body
{
    font-family: 'Open Sans Condensed', sans-serif !important;
    padding: 20px 60px;
}

a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    color: #aaa;
}

*
{
    box-sizing: border-box;
}

[data-icon='trash-alt']
{
    cursor: pointer;
    color: red;
}